custom-tag/src/main/resources/META-INF/custom-tag.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema xmlns="http://localhost/custom-tag" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://localhost/custom-tag">
    <xsd:complexType name="custom">
        <xsd:attribute name="id" type="xsd:ID"/>
        <xsd:attribute name="name" type="xsd:string"/>
    </xsd:complexType>
    <xsd:element name="custom" type="custom"/>
</xsd:schema>